body {
    padding-top: 70px;
}

.background-content {
    content: "";
    position: fixed;
    top: -5vh;
    left: -5vw;
    z-index: -1;

    display: block;
    background-image: url('assets/images/accenture/10782.jpg');
    background-size: cover;
    height: 110vh;
    width: 110vw;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.container-fluid,.container {
    margin-top: 0;
}

#logo-acn {
    background: url('assets/images/login/logo-acn.png') no-repeat;
    background-size: 100% 100%;
    width: 146px;
    height: 110px;
    margin-right: 3%;
    float: right;
}

#qr-code {
    width: 70px;
    height: 70px;
    padding: 8px;
    background: url('assets/images/login/qr-code.jpg') no-repeat;
    background-size: 100% 100%;
}

#accenture-brand {
    width: 232px;
    height: 100px;
    padding: 8px;
    background: url('assets/images/login/ACC_hpd_logo_.75x_white_rgb.png') no-repeat;
    background-size: 100% 100%;
    margin-right: 15%;
}

.navbar {
    background: rgba(248, 248, 248, 0.5);

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c3e50+0,ffffff+100&0.8+1,0.5+100 */
    background: -moz-linear-gradient(left,  rgba(44,62,80,0.8) 0%, rgba(46,64,82,0.8) 1%, rgba(255,255,255,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(44,62,80,0.8) 0%,rgba(46,64,82,0.8) 1%,rgba(255,255,255,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(44,62,80,0.8) 0%,rgba(46,64,82,0.8) 1%,rgba(255,255,255,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc2c3e50', endColorstr='#80ffffff',GradientType=1 ); /* IE6-9 */

    color: #fff;
}

.navbar h1 {
    line-height: 80px;
    font-size: 350%;
    font-weight: bold;
    text-shadow: 1px 1px 5px #2c3e50;
}
.navbar h1 small {
    font-weight: bold;
    color: #fff;
}

@media (max-width: 1300px) {
    .navbar h1 {
        font-size: 250%;
    }
}
@media (max-width: 900px) {
    .navbar h1 {
        font-size: 200%;
    }
}

#login-panel .form-control {
    height: auto;
    padding: 10px;
}

.bordaDireita {
    border-right: 1px solid #fff;
}

#header {
    height: 90px;
}

@media (max-height: 500px) {
    #header {
        height: 60px;
    }
    #login-panel {
        margin-top: 90px !important;
    }
    #login-panel .panel {
        margin-bottom: 0;
    }
    .navbar h1 {
        line-height: 30px;
    }
    #logo-acn {
        width: 87.6px;
        height: 66px;
    }
}

.navbar-fixed-bottom {
    z-index: 0;
}

.container {
    z-index: 1;
}

#login-panel .panel-default {
    background: rgba(248, 248, 248, .7);
    box-shadow: 0 1px 1px rgba(50, 50, 50, 0.5);
    /*color: #2C3E50;*/
    /*background: rgba(44, 62, 80, .5);*/
}

#login-panel .panel-default>.panel-heading {
    background: rgba(44, 62, 80, .8);
    border-color: transparent;
    color: #eee;
    font-weight: bold;
}

.input-group-addon {
    background: rgba(44, 62, 80, .8);
    border: 1px solid #2C3E50;
}

.navbar-fixed-bottom {
    background: rgba(44, 62, 80, .8);
}