/* Hack para corrigir tabela responsiva no Firefox */
@-moz-document url-prefix()
  fieldset
    display: table-cell

h1,h2,h3
  margin-top: 15px
  
legend
  color: #fff
  border-bottom: 1px solid #fff
  font-size: 16px
  font-weight: bold

.btn
  white-space: normal !important
  word-wrap: break-word
  @extend .floated
  
  &:active
    box-shadow: none

/*.btn-primary:disabled
  background: grey
  background-color: grey !important*/
//
//.list-group-item.floated:hover,
//.btn-primary:hover
//  color: #fff
//  background-color: #1A6869 !important

.nav, .pagination, .carousel, .panel-title a
  cursor: pointer 

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>td
  text-align: center
  border-top: 1px solid #D2D8D8
  
    
.table>thead>tr>th
  color: $main-color-darker
  border-bottom: 2px solid $main-color-dark
  text-align: center

.panel
  @extend .floated
  background-color: rgba(255, 255, 255, 0.4)
  color: #111

.modal-content
  background-color: rgba(255, 255, 255, 0.85)

.modal-title
  color: #29838F

.list-group-item
  background-color: rgba(255, 255, 255, 0.5)
  padding: 5px 10px
  line-height: 28px

.panel-heading
  @extend .floated
  background: rgba($light-color, 0.1)
  //padding: 5px 10px
  
.panel-body,
.modal-body
  color: #222
  //padding: 10px
  legend
    color: $main-color-darker
    border-bottom: 1px solid $main-color-dark

.input-group-addon,
.input-group-btn .btn
  @extend .floated
  box-shadow: none !important

.form-control,
.well
  box-shadow: inset 0 .5px 1px rgba(0, 0, 0, .75)
  //color: #fff
  //background-color: rgba(#000, 0.7)
  
.has-error .form-control
  //background-color: rgba($error-color-dark, 0.7)

.table-hover>tbody>tr:hover
  background-color: rgba(#000, 0.2)

.form-control:hover
  //background-color: rgba(#000, 0.8)

.form-control:focus
  //background-color: rgba(#000, 0.9)

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control
  //color: #222
  //background-color: rgba(#bbb, 0.2)

.form-control,
.input-group-addon,
.input-group-btn button
  height: 26px
  padding: 3px 9px

.list-group
  margin-bottom: 0
  
.dropdown-menu
  background: rgba(255, 255, 255, 0.9)
  
.alert
  color: #333 !important
  @extend .floated
  
.panel-heading strong
  color: #fff

.alert-success,
.panel-success>.panel-heading
  @extend .alert
  background-color: rgba($success-color, 0.95) !important
  border-color: $success-color-border !important
  
.alert-info,
.panel-info>.panel-heading
  @extend .alert
  background-color: rgba($info-color, 0.95) !important
  border-color: $info-color-border !important
  
.alert-warning,
.panel-warning>.panel-heading
  @extend .alert
  background-color: rgba($warning-color, 0.95) !important
  border-color: $warning-color-border !important

.alert-danger,
.alert-error,
.panel-danger>.panel-heading
  @extend .alert
  background-color: rgba($error-color, 0.95) !important
  border-color: $error-color-border !important

.pagination
  @extend .floated 
 
.panel-new
  @extend .alert
  background-color: rgba(#E4F9FF, 0.95) !important

.panel-edit
  @extend .alert
  background-color: rgba($warning-color, 0.95) !important
  .table>tbody>tr>td
    border-top: 1px solid #666
  
@media (max-width: 768px)
  .container-fluid,.container
    padding-left: 0
    padding-right: 0

label
  margin-bottom: 3px
  
.form-group
  margin-bottom: 18px
  
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12
  padding: 0 5px
  //padding-right: 10px
  //padding-left: 10px

.btn.btn-default
  color: $main-color-darker
  
.btn-group-lg>.btn,.btn-lg,
.btn-group-md>.btn,.btn-md
  padding: 6px 10px
.btn-group-sm>.btn,.btn-sm
  padding: 4px 8px
.btn-group-xs>.btn,.btn-xs
  padding: 1px 4px
  
@media (min-width: 768px)
  .navbar-nav>li>a
    padding-top: 10px
    padding-bottom: 10px

.navbar-nav>li>a
  padding-top: 8px
  padding-bottom: 8px
  line-height: 15px
  
.navbar-header
  padding: 3px 10px
  margin-bottom: 8px

.navbar-brand
  height: 25px
  padding: 10px
  font-size: 16px
  font-weight: bold
  line-height: 15px

@media (min-width: 768px)
  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand
    margin-left: -10px
  
.breadcrumb
  padding: 3px 10px
  
.pagination
  margin: 10px 0

.pagination>li>a
  color: $main-color-darker
  text-decoration: none !important
  
hr
  border-top: 1px solid $main-color-dark
  
.nav>li>a
  padding: 5px 8px
  
.well
  //background: rgba(46, 96, 105, .7)
  //color: #fff
  //padding: 10px 15px
  padding: 8px 16px
  border: 1px inset #ccc
  border-radius: 4px
  background: #2c3e50
  margin-top: 5px
  color: #fff

.breadcrumb
  background-color: transparent
  li
    a
      color: #ddd
    .divider
      display: none

.btn-default
  background-color: #D2D8D8
  border-color: #D2D8D8